language: python
python:
  - "3.6"
install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a

  - conda create -q -n ci_env python=3.6 pytorch-cpu=0.4.0 torchvision ruamel_yaml h5py gdal scikit-image scikit-learn -c pytorch
  - source activate ci_env
before_script:
  - unzip ./data/massachusetts_buildings.zip -d ./data
  - unzip ./data/classification_data.zip -d ./data
script:
  - python images_to_samples.py ./conf/config_ci_tst.yaml
  - python train_model.py ./conf/config_ci_tst.yaml
  - python inference.py ./conf/config_ci_tst.yaml
  - python train_model.py ./conf/config_ci_tst2.yaml
  - python inference.py ./conf/config_ci_tst2.yaml
  