name: geo_deep_env
channels:
  - pytorch
  - numba
  - conda-forge
  - defaults
dependencies:
  - _libgcc_mutex=0.1=conda_forge
  - _openmp_mutex=4.5=1_llvm
  - affine=2.3.0=py_0
  - alembic=1.4.2=pyh9f0ad1d_0
  - appdirs=1.4.3=py_1
  - asn1crypto=1.4.0=pyh9f0ad1d_0
  - attrs=19.3.0=py_0
  - awscli=1.18.88=py37hc8dfbb8_0
  - azure-core=1.8.0=pyh9f0ad1d_0
  - azure-storage-blob=12.3.2=pyh9f0ad1d_0
  - blas=2.17=openblas
  - blinker=1.4=py_1
  - botocore=1.17.11=pyh9f0ad1d_0
  - brotlipy=0.7.0=py37h8f50634_1000
  - bzip2=1.0.8=h7b6447c_0
  - ca-certificates=2021.1.19=h06a4308_0
  - cairo=1.14.12=h8948797_3
  - certifi=2020.12.5=py37h89c1867_1
  - cffi=1.14.0=py37hd463f26_0
  - cfitsio=3.470=hb7c8383_2
  - chardet=3.0.4=py37hc8dfbb8_1006
  - click=7.0=py_0
  - click-plugins=1.1.1=py_0
  - cligj=0.5.0=py37_0
  - cloudpickle=1.2.2=py_0
  - colorama=0.4.3=py_0
  - configparser=5.0.0=py_0
  - cryptography=2.9.2=py37hb09aad4_0
  - cudatoolkit=10.1.243=h6bb024c_0
  - curl=7.67.0=hbc83047_0
  - cycler=0.10.0=py37_0
  - cytoolz=0.10.1=py37h7b6447c_0
  - dask-core=2.10.1=py_0
  - databricks-cli=0.9.1=py_0
  - dbus=1.13.12=h746ee38_0
  - decorator=4.4.1=py_0
  - docker-py=4.3.0=py37hc8dfbb8_0
  - docker-pycreds=0.4.0=py_0
  - docutils=0.15.2=py37_0
  - entrypoints=0.3=py37hc8dfbb8_1001
  - expat=2.2.6=he6710b0_0
  - ffmpeg=4.1.3=h167e202_0
  - fiona=1.8.11=py37h41e4f33_0
  - flask=1.1.2=pyh9f0ad1d_0
  - fontconfig=2.13.0=h9420a91_0
  - freetype=2.9.1=h8a8886c_1
  - freexl=1.0.5=h14c3975_0
  - gdal=3.0.2=py37hbb2a789_0
  - geopandas=0.8.1=py_0
  - geos=3.8.0=he6710b0_0
  - geotiff=1.5.1=h21e8280_0
  - giflib=5.1.4=h14c3975_1
  - gitdb=4.0.5=py_0
  - gitpython=3.1.7=py_0
  - glib=2.63.1=h5a9c865_0
  - gmp=6.2.1=h58526e2_0
  - gnutls=3.6.13=h85f3911_1
  - gorilla=0.3.0=py_0
  - graphite2=1.3.13=h58526e2_1001
  - gst-plugins-base=1.14.0=hbbd80ab_1
  - gstreamer=1.14.0=hb453b48_1
  - gunicorn=20.0.4=py37hc8dfbb8_1
  - h5py=2.10.0=py37h7918eee_0
  - harfbuzz=2.4.0=hca77d97_0
  - hdf4=4.2.13=h3ca952b_2
  - hdf5=1.10.4=hb1b8bf9_0
  - icu=58.2=h9c2bf20_1
  - idna=2.9=py_1
  - imageio=2.6.1=py37_0
  - intel-openmp=2019.4=243
  - isodate=0.6.0=py_1
  - itsdangerous=1.1.0=py_0
  - jasper=1.900.1=h07fcdf6_1006
  - jinja2=2.11.2=pyh9f0ad1d_0
  - jmespath=0.10.0=pyh9f0ad1d_0
  - joblib=0.14.1=py_0
  - jpeg=9d=h36c2ea0_0
  - json-c=0.13.1=h1bed415_0
  - kealib=1.4.7=hd0c454d_6
  - kiwisolver=1.1.0=py37he6710b0_0
  - krb5=1.16.4=h173b8e3_0
  - lame=3.100=h7f98852_1001
  - ld_impl_linux-64=2.33.1=h53a641e_7
  - libblas=3.8.0=17_openblas
  - libboost=1.67.0=h46d08c1_4
  - libcblas=3.8.0=17_openblas
  - libcurl=7.67.0=h20c2e04_0
  - libdap4=3.19.1=h6ec2957_0
  - libedit=3.1.20181209=hc058e9b_0
  - libffi=3.2.1=hd88cf55_4
  - libgcc-ng=9.3.0=h2828fa1_18
  - libgdal=3.0.2=h27ab9cc_0
  - libgfortran-ng=7.3.0=hdf63c60_0
  - libiconv=1.16=h516909a_0
  - libkml=1.3.0=h590aaf7_4
  - liblapack=3.8.0=17_openblas
  - liblapacke=3.8.0=17_openblas
  - libnetcdf=4.6.1=h11d0813_2
  - libopenblas=0.3.10=pthreads_hb3c22a3_4
  - libpng=1.6.37=hbc83047_0
  - libpq=11.2=h20c2e04_0
  - libprotobuf=3.12.4=h8b12597_0
  - libspatialindex=1.9.3=he1b5a44_3
  - libspatialite=4.3.0a=h793db0d_0
  - libssh2=1.8.2=h1ba5d50_0
  - libstdcxx-ng=9.1.0=hdf63c60_0
  - libtiff=4.1.0=h2733197_0
  - libuuid=1.0.3=h1bed415_2
  - libwebp=1.0.2=h576950b_1
  - libxcb=1.13=h1bed415_1
  - libxml2=2.9.9=hea5a465_1
  - llvm-openmp=11.0.1=h4bd325d_0
  - llvmlite=0.31.0=py37hf484d3e_0
  - lz4-c=1.8.1.2=h14c3975_0
  - mako=1.1.3=pyh9f0ad1d_0
  - markupsafe=1.1.1=py37h8f50634_1
  - matplotlib=3.1.2=py37_1
  - matplotlib-base=3.1.2=py37hef1b27d_1
  - mkl=2019.4=243
  - mkl-service=2.3.0=py37he904b0f_0
  - mkl_fft=1.1.0=py37hc1659b7_1
  - mkl_random=1.1.0=py37hb3f55d8_0
  - mlflow=1.10.0=py37hc8dfbb8_0
  - msrest=0.6.18=pyh9f0ad1d_0
  - munch=2.5.0=py_0
  - ncurses=6.1=he6710b0_1
  - nettle=3.6=he412f7d_0
  - networkx=2.4=py_0
  - ninja=1.9.0=py37hfd86e86_0
  - numba=0.48.0=np1.11py3.7h04863e7_gcc7e7c7cf_0
  - numpy=1.20.1=py37haa41c4c_0
  - numpy-base=1.18.5=py37h2f8d375_0
  - oauthlib=3.0.1=py_0
  - olefile=0.46=py_0
  - opencv=4.1.0=py37h5517eff_4
  - openh264=1.8.0=hdbcaa40_1000
  - openjpeg=2.3.0=h05c96fa_1
  - openssl=1.1.1j=h27cfd23_0
  - packaging=20.4=pyh9f0ad1d_0
  - pandas=1.1.0=py37h3340039_0
  - pcre=8.43=he6710b0_0
  - pillow=7.0.0=py37hb39fc2d_0
  - pip=20.0.2=py37_1
  - pixman=0.38.0=h7b6447c_0
  - poppler=0.65.0=h581218d_1
  - poppler-data=0.4.9=0
  - postgresql=11.2=h20c2e04_0
  - proj=6.2.1=haa6030c_0
  - prometheus_client=0.8.0=pyh9f0ad1d_0
  - prometheus_flask_exporter=0.15.4=pyh9f0ad1d_0
  - protobuf=3.12.4=py37h3340039_0
  - pyasn1=0.4.8=py_0
  - pycparser=2.20=py_0
  - pyjwt=1.7.1=py_0
  - pynvml=8.0.4=py_1
  - pyopenssl=19.1.0=py_1
  - pyparsing=2.4.6=py_0
  - pyproj=2.4.2.post1=py37h12732c1_0
  - pyqt=5.9.2=py37h05f1152_2
  - pysocks=1.7.1=py37hc8dfbb8_1
  - python=3.7.6=h0371630_2
  - python-dateutil=2.8.1=py_0
  - python-editor=1.0.4=py_0
  - python_abi=3.7=1_cp37m
  - pytorch=1.4.0=py3.7_cuda10.1.243_cudnn7.6.3_0
  - pytz=2020.1=pyh9f0ad1d_0
  - pywavelets=1.1.1=py37h7b6447c_0
  - pyyaml=5.1.2=py37h516909a_0
  - qt=5.9.7=h5867ecd_1
  - querystring_parser=1.2.4=py_0
  - rasterio=1.1.1=py37h900e953_0
  - readline=7.0=h7b6447c_5
  - requests=2.24.0=pyh9f0ad1d_0
  - requests-oauthlib=1.3.0=pyh9f0ad1d_0
  - rsa=3.4.2=py_1
  - rtree=0.9.4=py37h8526d28_1
  - ruamel_yaml=0.15.87=py37h7b6447c_0
  - s3transfer=0.3.3=py37hc8dfbb8_1
  - scikit-image=0.16.2=py37h0573a6f_0
  - scikit-learn=0.23.2=py37hddcf8d6_3
  - scipy=1.5.2=py37hb14ef9d_0
  - setuptools=45.1.0=py37_0
  - shapely=1.6.4=py37hc5e8c75_0
  - sip=4.19.8=py37hf484d3e_0
  - six=1.14.0=py37_0
  - smmap=3.0.4=pyh9f0ad1d_0
  - snuggs=1.4.7=py_0
  - sqlalchemy=1.3.13=py37h516909a_0
  - sqlite=3.31.1=h7b6447c_0
  - sqlparse=0.3.1=py_0
  - tabulate=0.8.7=pyh9f0ad1d_0
  - tbb=2018.0.5=h6bb024c_0
  - threadpoolctl=2.1.0=pyh5ca1d4c_0
  - tiledb=1.6.3=h1fb8f14_0
  - tk=8.6.8=hbc83047_0
  - toolz=0.10.0=py_0
  - torchvision=0.5.0=py37_cu101
  - tornado=6.0.3=py37h7b6447c_0
  - tqdm=4.42.0=py_0
  - urllib3=1.25.9=py_0
  - websocket-client=0.57.0=py37hc8dfbb8_1
  - werkzeug=1.0.1=pyh9f0ad1d_0
  - wheel=0.34.2=py37_0
  - x264=1!152.20180806=h14c3975_0
  - xerces-c=3.2.2=h780794e_0
  - xz=5.2.4=h14c3975_4
  - yaml=0.1.7=had09818_2
  - zlib=1.2.11=h7b6447c_3
  - zstd=1.3.7=h0b5b093_0
  - pip:
      - efficientnet-pytorch==0.6.3
      - pretrainedmodels==0.7.4
      - segmentation-models-pytorch==0.1.2
      - ttach==0.0.3