name: geo_deep_env
channels:
  - pytorch
  - conda-forge
dependencies:
  - python>=3.10
  - pip>=23.1
  - hydra-core>=1.2.0
  - geopandas==0.12.1
  - rasterio==1.3.3
  - ruamel_yaml>=0.15.80
  - pytorch==1.12.1
  - torchvision==0.13.1
  - pip:
    - coverage>=6.5.0
    - pytorch-lightning>=1.7.7
    - segmentation-models-pytorch==0.3.0
    - hydra-colorlog>=1.1.0
    - hydra-optuna-sweeper>=1.1.0
    - git+https://github.com/CosmiQ/solaris.git@0.5.0
    - ttach>=0.0.3
    - mlflow>=2.0.1
    - pytest>=7.2.0
    - torchgeo==0.3.1
    - numpy>=1.23.5
    - shapely>=1.8.5
    - pystac>=1.6.1
    - omegaconf>=2.2.3
    - rich>=12.6.0
    - requests>=2.22.0
    - pandas>=1.5.2
    - affine>=2.3.1
    - tqdm>=4.64.1
    - pyproj>=3.4.0
    - fiona>=1.8.22
    - scipy>=1.9.3
    - scikit-image>=0.19.3
    - pillow>=9.2.0
    - kornia>=0.6.8
    - scikit-learn>=1.1.3