torch
torchvision
numpy
ruamel_yaml
fiona
nvidia-ml-py3
boto3
rasterio
tqdm
h5py>=2.10
scikit-image
scikit-learn
rasterio
tqdm
matplotlib
geopandas
fiona
tensorboard==1.15.0 #hparams sort feature doesn't work with tensorboard 2.1.1, so we downgraded.
