# @package _global_
tiling:
  tiling_data_dir: ${general.tiling_data_dir}
  train_val_percent: {'trn':0.7, 'val':0.3}
  patch_size: 32
  min_annot_perc: 1
  continuous_values: True
  save_preview_labels: True
  multiprocessing: False
  clahe_clip_limit: 0
  write_mode: "raise_exists"
