# @package _global_
dataset:
  # dataset-wide
  name:
  raw_data_csv: tests/tiling/tiling_segmentation_multiclass_ci.csv
  raw_data_dir: ${general.raw_data_dir}
  download_data: False

  # imagery
  bands: [1,2,3]
  raster_stats: True
  # ground truth
  attribute_field: properties/Quatreclasses
  attribute_values: [1,2,3,4]
  class_name: # will follow in the next version
  classes_dict: {'WAER':1, 'FORE':2, 'ROAI':3, 'BUIL':4}
  class_weights:
  ignore_index: 255
