# @package _global_
dataset:
  # dataset-wide
  name:
  raw_data_csv: ${general.raw_data_csv}
  raw_data_dir: ${general.raw_data_dir}
  download_data: False

  # imagery
  bands: [1,2,3]

  # ground truth
  attribute_field: properties/class
  attribute_values: [1]
  class_name: # will follow in the next version
  classes_dict: {'BUIL':1}
  class_weights:
  ignore_index: -1

  # outputs
  tiling_data_dir: ${general.tiling_data_dir}

