# @package _global_
inference:
  raw_data_csv: tests/inference/inference_segmentation_binary.csv
  root_dir: inferences
  input_stac_item:  # alternatively, use a path or url to stac item directly
  state_dict_path: ${general.save_weights_dir}/
  checkpoint_dir: ${general.save_weights_dir}  # (string, optional): directory in which to save the object if url
  chunk_size:  # if empty, will be calculated automatically from max_pix_per_mb_gpu
  # Maximum number of pixels each Mb of GPU Ram to allow. E.g. if GPU has 1000 Mb of Ram and this parameter is set to
  # 10, chunk_size will be set to sqrt(1000 * 10) = 100.
  max_pix_per_mb_gpu: 25
  save_heatmap: True  # saves a heatmap to {output_dir}/{output_name}_heatmap.tif
  heatmap_threshold: 0.3

  # GPU parameters
  gpu: ${training.num_gpus}
  max_used_perc: ${training.max_used_perc}  # If RAM usage of detected GPU exceeds this percentage, it will be ignored
  max_used_ram: ${training.max_used_ram}  # If GPU's usage exceeds this percentage, it will be ignored

  # Post-processing
  ras2vec: False  # if True, a polygonized version of the inference (.gpkg) will be created with rasterio tools