name: GitHub Actions Unit Tests
on: [push, pull_request]
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    # runs within your Docker container
    container:
      image: docker://geobaserepo/gdl-cuda11:v2.8.1
      options: --user root
    # checkout your code from your repository
    # and runs pytest in your pipenv environment
    steps:
      - name: Install pipenv
        run: |
          pip install pipenv
      - uses: actions/checkout@v2
      - name: Test with pytest
        run: |
          pipenv run pytest tests/